.Button {
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.Button :hover {
  background-color: royalblue;
}

.FormWrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
