.Input {
  resize: vertical;
  outline: none;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 5px;
  background-color: #fff;
  border: 0;
  border-bottom: 1px;
  border-color: #ddd;
  border-style: solid;
}
.InputGroup {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;
}
.Code {
  font-size: 13px;
}
@media screen and (max-width: 430px) {
  .Input {
    width: 100%;
  }
}
